@import "adminlogin.css"; 
@import "adminbase.css"; 
body{
    min-height: 100vh;
    color: #000;
    font-family: 'Poppins';
}

body.no-scroll{
    overflow: hidden;
}

.block-layer{
    background-color: rgb(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    top:0px;
    left:0px;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transition: all 1s ease-in-out;
}

body.no-scroll .block-layer{
    opacity: 1;
    visibility: visible;
}

.nav-bar{
    border-bottom: 1px solid #D4D4D4;
    padding: 10px 0px;
}

.nav-bar a{
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

.nav-bar a:hover{
    text-decoration: none;
}

.side-menu{
    position: fixed;
    top:0px;
    left:-400px;
    width: 400px;
    max-width: 100%;
    z-index: 30;
    min-height: 100vh;
    background-color: #F2F2F2;
    border-right: 1px solid #D4D4D4;
    padding: 15px;
    transition: all 1s ease-in-out;
}

.side-menu.show{
    left:0px;
}

.side-menu a{
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

.side-menu a:hover{
    text-decoration: none;
}

.petlist-table img{
    width: 100px;
    max-width: 100%;
}

.nav-list a{
    font-size: 18px;
    color: #000;
    text-decoration: none;
    display: block;
}

.nav-list a:not(:last-child){
    margin-bottom: 20px;
}

.nav-list a:hover{
    text-decoration: none;
}

#PetForm img{
    width: 100px;
    max-width: 100%;
    margin-bottom: 10px;
    display: block;
}

.menu .app-brand.demo {
    height: 64px;
    margin-top: 12px;
}