@font-face {font-family: "Kathen";
    src: url("../font/Kathen.eot"); /* IE9*/
    src: url("../font/Kathen.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/Kathen.woff2") format("woff2"), /* chrome、firefox */
    url("../font/Kathen.woff") format("woff"), /* chrome、firefox */
    url("../font/Kathen.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../font/Kathen.svg#Kathen") format("svg"); /* iOS 4.1- */
}
  
@font-face {font-family: "Poppins";
    src: url("../font/Poppins.eot"); /* IE9*/
    src: url("../font/Poppins.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/Poppins.woff2") format("woff2"), /* chrome、firefox */
    url("../font/Poppins.woff") format("woff"), /* chrome、firefox */
    url("../font/Poppins.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../font/Poppins.svg#Kathen") format("svg"); /* iOS 4.1- */
}

html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.text-poppin{
    font-family: 'Poppins';
}

.text-kathen{
    font-family: 'Kathen';
}

.bg-blue{
    background: #a2f1fc;
}


.thank-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.checkout-box{
    border: 1px solid #e4e4e4;
    border-radius: 30px;
    padding: 30px;
    max-width: 500px;
}

.high-box{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    color: #FFF;
}