body {
    min-height: 100vh;
    color: #000;
    background: #a2f1fc;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url('../images/BG123.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    line-height: 1.6;
    font-family: 'Kathen';
    font-size: 16px;
}

body.bg2{
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url('../images/login-bg.png');
}

body.bg-blue{
    background-image: unset;
    background-color: #3797EA;
}

.main-wrapper{
    display: flex;
    width: 100%;
    max-width: 400px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 100px;
    padding-bottom: 15px;
}

.main-wrapper.padding-top{
    padding-top: 65px;
}

.main-wrapper.top-align{
    align-items: normal;
}

.login-logo{
    width: 250px;
    max-width: 100%;
}

#login-form input[type='text'], #login-form input[type='password']{
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
    width: 100%;
    border-radius: 20px;
    outline: unset;
}

#login-form input[type='submit']{
    font-size: 16px;
    background-image: url('../images/button-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    outline: unset;
    padding: 5px 10px;
    background-color: unset;
    border: unset;
    cursor: pointer;
    width: 200px;
    max-width: 100%;
}

.login-box p{
    font-size: 22px;
    margin-top: 25px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 900;
}
  
.login-box a{
    color: #ffb043;
    text-decoration: none;
}

.lang-wrapper{
    position: absolute;
    top: 10px;
    right: 15px;
}

.lang-btn img{
    width: 50px;
}

.register-logo{
    width: 150px;
    max-width: 100%;
}

.back-btn{
    width: 50px;
}

#register-form .input-form{
    background-color: #FFF;
    border: 1px solid #000;
}

#register-form .input-form.disabled{
    background-color: #DDDDDD;
}

#register-form input[type='text'], #register-form input[type='password'],  #register-form input[type='number'], #register-form .input-form{
    display: block;
    font-size: 16px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 20px;
    outline: unset;
}

#register-form input[type=number]::-webkit-inner-spin-button, 
#register-form input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
}

#register-form input[type=number] {
    -moz-appearance: textfield;
}

#register-form select{
    display: block;
    font-size: 16px;
    padding: 10px 10px;
    width: 100%;
    border-radius: 20px;
    outline: unset;
}

#register-form button{
    font-size: 16px;
    background-image: url('../images/button-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-decoration: unset;
    padding: 9px 10px;
    background-color: unset;
    outline: unset;
    border: unset;
    cursor: pointer;
    width: 100%;
    color: #000;
    display: block;
    text-align: center;
}


#register-form button:disabled{
    cursor: not-allowed;
}

#register-form input[type='submit']{
    font-size: 16px;
    background-image: url('../images/button-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    outline: unset;
    padding: 15px 10px;
    background-color: unset;
    border: unset;
    cursor: pointer;
    width: 250px;
    max-width: 100%;
    color: #FFF;
}

.nav-wrapper{
    position: absolute;
    z-index: 2;
    top:10px;
    left:0px;
    background: linear-gradient(to bottom ,rgba(255, 255, 255, .0) 50%, rgba(255, 255, 255, .5) 100%);
    padding: 15px;
}

.nav-wrapper a{
    display: block;
}

.nav-wrapper img{
    width: 50px;
}

.back-wrapper{
    position: absolute;
    z-index: 2;
    top:25px;
    right: 0px;
}

.back-wrapper img{
    width: 50px;
}

.lang-menu{
    position: absolute;
    top: 0;
    left: calc(100% + 15px);
    background-color: rgba(255, 255, 255, .5);
    padding: 10px;
}

.sub-menu{
    display: none;
}

.dashboard-logo{
    width: 200px;
    max-width: 100%;
}

.chest-box{
    background-image: url('../images/flag.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    width: 200px;
    max-width: 100%;
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 130px;
    text-align: center;
    margin-bottom: 75px;
}

.chest-box p{
    margin-bottom: 3px;
    color: #FFF;
    font-size: 14px;
    line-height: 16px;
}

.chest-box img{
    position: absolute;
    bottom: -50%;
    left: 0px;
    width: 100%;
}

.level-box{
    background-image: url('../images/status-bar.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    width: 200px;
    max-width: 100%;
    min-height: 30px;
    margin-top: 20px;
    color: #FFF;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-size: 14px;
}

.level-box img{
    position: absolute;
    width: 50px;
    top: -15px;
    right: -10px;
}

#timer{
    min-height: 24px;
}

.coin-box{
    text-align: right;
    background-image: url('../images/coinbar.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    width: 200px;
    max-width: 100%;
    min-height: 30px;
    display: block;
    color: #FFF;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
    font-size: 16px;
    text-decoration: none;
}

.coin-box img{
    width: 30px;
    position: absolute;
    top:5px;
    left: 5px;
}

.coin-box:hover{
    text-decoration: none;
    color: #FFF;
}

.animal-box{
    background-image: url('../images/pillow.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    min-height: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.animal-box a{
    color: #000;
    text-decoration: none;
    position: absolute;
}
.animal-box a:hover{
    color: #000;
    text-decoration: none;
}

.sold-txt{
    width: 100px;
    position: absolute;
    top: 45px;
    left: 10px;
}

.sale-tag{
    width: 70px;
    position: absolute;
    top: 60px;
    left: 20px;
}

.animal-icon{
    width: 130px;
    max-width: 100%;
}
.plus-icon{
    width: 90px;
    max-width: 100%;
}

.shop-box{
    background-image: url('../images/shopboard.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom;
    min-height: 280px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    color: #000;
    text-decoration: none;
}
.shop-box a{
    text-align: center;
    color: #000;
    text-decoration: none;
}

.shop-box a:hover{
    color: #000;
    text-decoration: none;
}
.shop-box .animal-wrapper{
    min-height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-box .animal-icon{
    width: 100px;
    max-width: 100%;
}

.shop-box .buy-icon{
    width: 100px;
    max-width: 100%;
}

.cus-button{
    font-size: 16px;
    background-image: url('../images/button-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    outline: unset;
    padding: 5px 10px;
    background-color: unset;
    border: unset;
    cursor: pointer;
    width: 200px;
    max-width: 100%;
    text-decoration: none;
}
.cus-button:hover{
    color: #FFF;
    text-decoration: none;
}
.topupnav .cus-button:hover{
    color: #FFF;
    text-decoration: none;
}
.topupnav .cus-button{
    color: #FFF;
    display: inline-block;
    text-align: center;
    width: 100px;
}

.share-qrcode-wrapper, .usdt-qrcode-wrapper{
    border: 2px solid #FFF;
    border-radius: 5px;
    text-align: center;
    padding: 20px 5px;
}

.share-qrcode-box, .usdt-qrcode-box{
    text-align: center;
}

#usdt-form label, #duitnow-form label, #bank-form label{
    display: block;
    margin-bottom: 5px;
}

#usdt-form input[type="text"], #duitnow-form input[type='text']{
    background-color: unset;
    width: 100%;
    padding: 10px 5px;
    border: 1px solid #FFF;
    border-radius: 5px;
}

#usdt-form input[type='submit'], #duitnow-form input[type='submit'], #bank-form input[type='submit']{
    font-size: 16px;
    background-image: url('../images/button-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    outline: unset;
    padding: 15px 10px;
    background-color: unset;
    border: unset;
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    font-family: 'Kathen';
    color: #FFF;
}

.duitnow-qrcode-wrapper{
    background-color: #FFF;
    padding: 25px 5px;
    text-align: center;
}

.duitnow-qrcode-box{
    text-align: center;
}

.cus-tab{
    background-color: #008091;
    color:#FFF;
    text-decoration: none;
    padding: 15px 5px;
    display: block;
    border-radius: 5px;
    font-weight: 600;
}

.cus-tab:hover{
    color:#FFF;
    text-decoration: none;
}   

.cus-tab.active{
    background-color: #37e8ff
}

.top-up-tab{
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out;
    display: none;
}

.top-up-tab.active{
    visibility: visible;
    opacity: 1;
    display: block;
}

#bank-form label{
    font-weight: 600;
}

#bank-form input[type='text'], #bank-form .form-input{
    background-color: #FFF;
    padding: 10px 10px;
    border-radius: 50px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#bank-form input[type='file']{
    display: none;
}

#bank-form select{
    background-color: #FFF;
    padding: 10px 10px;
    border-radius: 50px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.fliedrop{
    width: 100%;
    height: 100px;
    border-radius: 15px;
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color:#FFF;
    border: 3px solid #FFF;
    border-style: dashed;
    cursor: pointer;
}

#fiilename_txt{
    font-size: 14px;
    color: #FFF;
}

.serve-box{
    position: absolute;
    background-image: url('../images/petbox.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 30%;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: 5;
    width: 300px;
    min-height: 350px;
    align-items: center;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.serve-box.show{
    opacity: 1;
    visibility: visible;
}

.serve-icon{
    width: 30px;
    
}

.serve-box .action-wrapper{
    display: inline-block;
}

.serve-box .action-wrapper.disabled{
    cursor:not-allowed;
}

.serve-box .action-wrapper:not(:last-child){
    margin-right: 5px;
}

.serve-box a.disabled{
    pointer-events: none;
}

.profile-img-wrapper img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.profile-img-wrapper{
    width: 90px;
    height: 90px;
    border: 3px solid #FFF;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center ;
}

.form-input{
    padding: 15px 0px;
    border-bottom: 2px solid #FFF;
}

#profile-form .form-input{
    padding: 5px 0px;
}

#profile-form{
    font-family: 'Poppins';
    color: #FFF;
    width: 100%;
}
#profile-form label{
    display: block;
}

#profile-form input[type="text"],
#profile-form input[type="password"],
#profile-form span.input-form
{
    background-color: unset;
    border: unset;
    color: #FFF;
    display: block;
    width: 100%;
}

#profile-form input[type="text"]:focus,
#profile-form input[type="password"]:focus
{
    border: unset;
    outline: unset;
}

#profile-form input[type="submit"]{
    font-size: 16px;
    background-image: url('../images/button-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-decoration: unset;
    padding: 9px 10px;
    background-color: unset;
    outline: unset;
    border: unset;
    cursor: pointer;
    width: 100%;
    color: #000;
    display: block;
    text-align: center;
}

.black-overlay{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.3);
    top:0px;
    left: 0px;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.black-overlay.show{
    opacity: 1;
    visibility: visible;
}

.shopbox{
    position: absolute;
    background-image: url('../images/shop-box.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 15px;
    top: 100px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 350px;
    max-width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    transition: all .5s ease-in-out;
}

.shopbox.show{
    opacity: 1;
    visibility: visible;
}

#petModalbody{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 300px;
}

#petModalbody .shop-a-wrapper
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#petModalbody a{
    text-align: center;
    color: #000;
    text-decoration: none;
    display: inline-block;
    width: 50%;
}

#petModalbody a img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}
#petModalbody a .buy-btn{
    width: 100px;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

#petModalbody a:hover{
    text-decoration: none;
    color: #000;
}

/* width */
#petModalbody::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
#petModalbody::-webkit-scrollbar-track {
    background: #F2F2F2;
}

/* Handle */
#petModalbody::-webkit-scrollbar-thumb {
    background: #D4D4D4; 
    border-radius: 10px;
}

/* Handle on hover */
#petModalbody::-webkit-scrollbar-thumb:hover {
    background: #D4D4D4; 
}

.shopbox .shop-back{
    position: absolute;
    top:-30px;
    right: -30px;
    cursor: pointer;
    z-index: 2;
}

.serve-box .shop-back{
    position: absolute;
    top:-20px;
    right: -30px;
    cursor: pointer;
    z-index: 2;
}

.serve-box .shop-back img, .shopbox .shop-back img{
    height: 50px;
    width: 50px;
}

.withdraw-form input[type='number'],
.withdraw-form input[type='password'],
.withdraw-form .form-input,
.withdraw-form select,
.withdraw-form input[type='text']{
    background-color: #FFF;
    padding: 10px 10px;
    border-radius: 50px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.withdraw-form label{
    display: block;
    margin-bottom: 5px;
}

.withdraw-form input[type='submit']{
    font-size: 16px;
    background-image: url('../images/button-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    outline: unset;
    padding: 15px 10px;
    background-color: unset;
    border: unset;
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    font-family: 'Kathen';
    color: #FFF;
}

.withdraw-tab .cus-button{
    color: #000;
    text-decoration: none;
    margin-bottom: 15px;
    padding: 10px 25px;
    display: inline-block;
}

.withdraw-tab .cus-button:hover{
    color: #FFF;
    text-decoration: none;
}

.withdraw-tab{
    display: none;
}

.withdraw-tab.active{
    display: block;
}

.copy-btn{
    font-size: 16px;
    background-image: url('../images/button-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    outline: unset;
    padding: 15px 10px;
    background-color: unset;
    border: unset;
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    color: #000;
}

.petsleepname{
    position: absolute;
    top: 5px;
    left: 0px;
}
.transactionnav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.transactionnav .cus-button:hover{
    color: #FFF;
    text-decoration: none;
}
.transactionnav .cus-button{
    color: #FFF;
    display: inline-block;
    text-align: center;
    width: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.history-single-box{
    background-color: #3797EA;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000;
    text-decoration: none;
    border: 5px solid #ffb043;
    border-radius: 20px;
}

.history-single-box:hover{
    color: #FFF;
    text-decoration: none;
}

.history-details label{
    display: block;
    margin-bottom: 5px;
}

.history-details .form-input{
    background-color: #FFF;
    padding: 10px 10px;
    border-radius: 50px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    min-height: 45.6px;
}

.history-details .form-input.long{
    background-color: #FFF;
    padding: 10px 10px;
    border-radius: 20px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    min-height: 200px;
}

.mail-box{
    display: block;
    text-decoration: none;
    color:#000;
    position: relative;
    background-color: #FFF;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    min-height: 60px;
}

.mail-box:hover{
    text-decoration: none;
    color:#000;
}

.mail-icon{
    position: absolute;
    width: 50px;
}

.unread-icon{
    position: absolute;
    width: 10px;
    z-index: 1;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    left: 49px;
    top:-3px;
}

.mailnav .cus-button:hover{
    color: #FFF;
    text-decoration: none;
}
.mailnav .cus-button{
    color: #000;
    display: inline-block;
    text-align: center;
    width: 100px;
}

.mailnav .cus-button.active{
    color: #FFF;
}

.mail-wrapper{
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}

/* width */
.mail-wrapper::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
.mail-wrapper::-webkit-scrollbar-track {
    background: #F2F2F2;
}

/* Handle */
.mail-wrapper::-webkit-scrollbar-thumb {
    background: #D4D4D4; 
    border-radius: 10px;
}

/* Handle on hover */
.mail-wrapper::-webkit-scrollbar-thumb:hover {
    background: #D4D4D4; 
}

.newsinfo_box{
    background-color: #FFF;
    border: 1px solid #ffb043;
    border-radius: 20px;
    padding: 20px;
    min-height: 60vh;
}

.mail-nav-wrapper{
    position: absolute;
    z-index: 2;
    top: 25px;
    left: 90px;
}

.mail-nav-wrapper img {
    width: 50px;
}

.nav-mail-count{
    font-size: 10px;
    color: #FFF;
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    top: -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.downline-box{
    background-color: #3797EA;
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
    text-decoration: none;
    border: 5px solid #ffb043;
    border-radius: 20px;
}

.downline-content-box{
    padding: 15px 15px;
}

.downline-content-box:not(:last-child){
    border-bottom: 1px solid #000;
}